/* select {
    margin-left: 10px;
} */

/* .LanguageSelect { */
    /* display:flex;
    align-items: center; */
    /* justify-content: center;
    justify-content: space-between;
    flex-direction:row;
    /* gap: 100px;
/* } */

/* Select {
    width: 90%;
} */