
.wrapper {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row {
    /* position: absolute;
    top: 20; */
    display: flex;
    padding-top: 20px;
    justify-content:space-between;
    align-items: center;
    gap: 17%;;
}

button[value=true] {
    display: none;
}


button {
    padding-left: 155px;
}

.LanguageSelect {
    width: 60%;
    display:flex;
    align-items: center;
    gap: 11%;
}

form {
    width: 90%;
}


hr {
    margin-bottom: 25px;
}

.header {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.flags {
    display: flex;
    flex-direction: row;
    gap: 5px
}