textarea {
    width: 300px;
    height: 150px;
}

.wrapper {
    position: relative;
}

#Textbox {
    position: absolute;
    top: 20;
    padding-top: 10%;
}

button[value=true] {
    display: none;
}

.row {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    gap: 100px;
 
}

